body {
  background: #C0C0C0;
  margin: 0px;
}

h1 {
	font-family: fantasy;
	font-size: 3em;
	font-weight: normal;
}

img {
  border-radius: 15px;
	height: 300px;
	margin: 10px;
  transition: all 1s;
  width: 450px;
}

img:hover {
	transform: scale(1.1);
}

.container-images {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.jumbotron {
  background: #ecf0f1;
  color: #2c3e50;
  padding-left: 20px;
}

@media (max-width: 480px) {
  img {
    height: 200px;
    width: 300px;
  }
}